{% extends "base.html" %}

{% block title %}
Elastic Mangosteen - {{ page_title }}
{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.first_name.label }} <br/>
        {{ form.first_name(size=30) }}
    </p>
    <p>
        {{ form.last_name.label }} <br/>
        {{ form.last_name(size=30) }}
    </p>
    <p>
        {{ form.email.label }} <br/>
        {{ form.email(size=30) }}
    </p>
    <p>
        {{ form.password.label }} <br/>
        {{ form.password(size=30) }}
    </p>
    <p>
        {{ form.password2.label }} <br/>
        {{ form.password2(size=30) }}
    </p>
    <p> {{ form.submit() }} </p>
</form>
{% endblock %}